/* Header */
#head { background:#181015 url( ../images/bg_header.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow:  black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head .tagline { color: white; margin-bottom:25px; background: rgba(142, 142, 142, 0.6); font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}

#head2 { background:#181015 url( ../images/bg_header2.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head2.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head2 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head2 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head2 .tagline a { color:#fff; } 
	#head2 .btn { margin-bottom:10px;}
	#head2 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head2 .btn-default:hover,
		#head2 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head2 .btn-default:active, 
		#head2 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head2 { min-height:420px; padding-top:160px; }
	#head2 .lead { font-size: 34px; }
}

#head3 { background:#181015 url( ../images/bg_header3.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head3.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head3 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head3 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head3 .tagline a { color:#fff; } 
	#head3 .btn { margin-bottom:10px;}
	#head3 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head3 .btn-default:hover,
		#head3 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head3 .btn-default:active, 
		#head3 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head3 { min-height:420px; padding-top:160px; }
	#head3 .lead { font-size: 34px; }
}

#head4 { background:#181015 url( ../images/bg_header4.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head4.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head4 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head4 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head4 .tagline a { color:#fff; } 
	#head4 .btn { margin-bottom:10px;}
	#head4 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head4 .btn-default:hover,
		#head4 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head4 .btn-default:active, 
		#head4 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head4 { min-height:420px; padding-top:160px; }
	#head4 .lead { font-size: 34px; }
} 

#head5 { background:#181015 url( ../images/bg_header5.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head5.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head5 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head5 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head5 .tagline a { color:#fff; } 
	#head5 .btn { margin-bottom:10px;}
	#head5 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head5 .btn-default:hover,
		#head5 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head5 .btn-default:active, 
		#head5 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head5 { min-height:420px; padding-top:160px; }
	#head5 .lead { font-size: 34px; }
} 

#head6 { background:#181015 url( ../images/bg_header6.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head6.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head6 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head6 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head6 .tagline a { color:#fff; } 
	#head6 .btn { margin-bottom:10px;}
	#head6 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head6 .btn-default:hover,
		#head6 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head6 .btn-default:active, 
		#head6 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head6 { min-height:420px; padding-top:160px; }
	#head6 .lead { font-size: 34px; }
} 

#head7 { background:#181015 url( ../images/bg_header7.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head7.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head7 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head7 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head7 .tagline a { color:#fff; } 
	#head7 .btn { margin-bottom:10px;}
	#head7 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head7 .btn-default:hover,
		#head7 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head7 .btn-default:active, 
		#head7 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head7 { min-height:420px; padding-top:160px; }
	#head7 .lead { font-size: 34px; }
} 

#head8 { background:#181015 url( ../images/bg_header8.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head8.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head8 .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:12px; color:white; line-height:1.15em; text-shadow: black 0 0 4px, black 0 0 4px, black 0 0 4px; font-weight: 500; } 
	#head8 .tagline { color: white; margin-bottom:25px; font-size: 1.2em; font-weight: 700; text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px 1px 0 black; }
		#head8 .tagline a { color:#fff; } 
	#head8 .btn { margin-bottom:10px;}
	#head8 .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head8 .btn-default:hover,
		#head8 .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head8 .btn-default:active, 
		#head8 .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head8 { min-height:420px; padding-top:160px; }
	#head8 .lead { font-size: 34px; }
} 

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

.active_link {
	background: #FF9B22 !important;
    border-radius: 15px;
}
.not_active_link:hover {
	background: #fff !important;
    border-radius: 15px;
	color: black !important;
}

/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		